In [ ]:
!pip install sqlalchemy

In [ ]:
!pip install mysqlclient

In [10]:
import pandas as pd
import sqlalchemy as db

In [11]:
engine = db.create_engine("mysql://root:root@127.0.0.1:3310/retail_db")
conn = engine.connect()

In [ ]:
departments_df = pd.read_sql_query("SELECT * FROM departments", con=conn)
departments_df.head()

In [ ]:
departments_df = pd.read_sql_table(table_name='departments', con=conn)
departments_df.head()

In [ ]:
departments_df = pd.read_sql("SELECT * FROM departments", con=conn)
departments_df.head()

In [21]:
departments_df = pd.read_sql("departments", con=conn)
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [19]:
departments_df.to_sql('departments_pandas', if_exists='replace', con=conn, index=False)

6

In [20]:
departments_df = pd.read_sql("departments_pandas", con=conn)
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors