In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
DATABASE_CONFIG = {
    'host': 'localhost',
    'port': 3310,
    'user': 'root',
    'password': 'root',
    'database': 'retail_db'
}

CSV_FILES = {
    'customers': 'data/customers.csv',
    'departments': 'data/departments.csv',
    'categories': 'data/categories.csv',
    'products': 'data/products.csv',
    'orders': 'data/orders.csv',
    'order_items': 'data/order_items.csv'
}

LOG_FILE = 'logs/pipeline.log'

In [15]:
customer_df = pd.read_csv(CSV_FILES['customers'])
customer_df.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,725

In [24]:
customer_df[['customer_fname', 'customer_lname', 'customer_email']].isnull().any().any()

np.False_

In [17]:
if customer_df[['customer_fname', 'customer_lname', 'customer_email', 'customer_street']].isnull().any().any():
    print("Datos faltantes en el DataFrame de customers.")

In [21]:
customer_df[['customer_email', 'customer_password']].duplicated()

0        False
1         True
2         True
3         True
4         True
         ...
12430     True
12431     True
12432     True
12433     True
12434     True
Length: 12435, dtype: bool

In [25]:
if customer_df['customer_city'].duplicated().any():
    print("Hay customer_city duplicados en el DataFrame de customers.")

Hay customer_city duplicados en el DataFrame de customers.