Python?

In [1]:
# vamos hablar sobre indentacion

In [2]:
print('Hola Mundo')

Hola Mundo

In [6]:
if 2 < 3:
    print(1) # primer print
    print(2) # segundo print
    print(3)
print(4)

1
2
3
4

In [7]:
# Variables
a = 15
b = 'Datapath'

print(a)
print(b)

15
Datapath

In [8]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [9]:
x, y, z = "Pera", "Manzana", "Platano"
print(x)
print(y)
print(z)

Pera
Manzana
Platano

In [11]:
x_global = 10

def mi_funcion():
    print(x_global)

mi_funcion()
print(x_global)

10
10

In [13]:
def mi_funcion():
    global x_global
    x_global = x_global + 1
    print(x_global)

mi_funcion()

11

In [16]:
def otra_funcion():
    otra_variable = 5
    print(otra_variable)
    
otra_funcion()

5

In [18]:
# Tipos de datos
# Listas, tuplas y Diccionarios

In [20]:
lista = []

lista_enteros = [1, 2, 3, 4, 5]

lista_mixtas = [1, 2, 3, 'Datapath', 2.3]

lista_anidadas = [1, 'Datapth', [2,3,4]]

In [23]:
# 4 elementos -> 0, 3
lista_enteros = [1, 2, 3, 4, 5]

In [25]:
lista_enteros[2]

3

In [30]:
lista_anidadas[2][3]

IndexError: list index out of range

In [31]:
lista_enteros[4.0]

TypeError: list indices must be integers or slices, not float

In [ ]:
lista_enteros = [1, 2, 3, 4, 5] # indices: 0, 1, 2, 3, 4
lista_enteros[1:3]

[2, 3]

In [35]:
lista_enteros[2:]

[3, 4, 5]

In [37]:
lista_enteros[:]

[1, 2, 3, 4, 5]

In [38]:
lista_enteros[4] = 7
print(lista_enteros)

[1, 2, 3, 4, 7]

In [39]:
# 2, 3
lista_enteros[1:3] = [8, 9]
lista_enteros

[1, 8, 9, 4, 7]

In [40]:
lista_enteros.append(10)
lista_enteros

[1, 8, 9, 4, 7, 10]

In [ ]:
lista_enteros.extend([11, 12, 13])
lista_enteros

TypeError: 'float' object is not iterable

In [49]:
lista_enteros.append([11, 12, 13])
lista_enteros

[1,
 8,
 9,
 4,
 7,
 10,
 11,
 12,
 13,
 [11, 12, 13],
 'd',
 'a',
 't',
 'p',
 'a',
 't',
 'h',
 [11, 12, 13],
 [11, 12, 13]]

In [48]:
print(id(lista_enteros))

125091731412480

In [50]:
print(id(lista_enteros))

125091731412480

In [51]:
# tupla ()

tupla = (3, 2, 1)
print(tupla)

(3, 2, 1)

In [54]:
tupla[1]

2

In [55]:
tupla[1] = 5

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupla[0][1]

In [56]:
# Diccionarios {}

diccionario = {}

diccionario = {
    1: 'manzana',
    2: 'pera'
}

diccionario = {
    'nombre': 'Pedro',
    'edad': 25,
    1: [1, 2, 4]
}

In [57]:
diccionario

{'nombre': 'Pedro', 'edad': 25, 1: [1, 2, 4]}

In [59]:
diccionario = {
    'nombre': 'Pedro',
    'edad': 25
}

diccionario['nombre']

'Pedro'

In [61]:
diccionario['edad']

25

In [62]:
diccionario['direccion']

KeyError: 'direccion'

In [66]:
diccionario.get('direccion', '')

''

In [69]:
diccionario['direccion'] = 'lima 2'

In [70]:
diccionario

{'nombre': 'Pedro', 'edad': 25, 'direccion': 'lima 2'}

In [78]:
# Estructuras condicional (if, elif, else)

x = 3

if x > 0:
    print("positivo")
elif x == 0:
    print("CERO")
else:
    print("Negativo")

positivo

In [ ]:
# Bucles

for c in [1, 2, 3, 4]:
    print(c*3)

3
6
9
12

In [85]:
#while

contador = 0 

while contador<5:
    print(contador)
    contador = contador + 1

0
1
2
3
4

In [86]:
# break

for i in range(10):
    if i ==5:
        break
    print(i)

0
1
2
3
4

In [87]:
# continue

for i in range(10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [93]:
# pass
for i in range(3):
    pass

In [96]:
try:
    print(10/0)
except:
    print("Error!")

Error!

In [97]:
try:
    print(10/0)
except ZeroDivisionError:
    print("No puedes dividir entre cero")

No puedes dividir entre cero

In [103]:
try:
    print(10/0)
except Exception as e :
    print(f"El error es el siguiente: {e}")

El error es el siguiente: division by zero

In [104]:
# funciones

def mi_funcion():
    print("hola Mundo")

mi_funcion()

hola Mundo

In [105]:
def sumar(a, b):
    return a+b

sumar(10, 5)

15

In [107]:
def saludar(nombre="Invitado"):
    print(f"Hola, {nombre}")

saludar()

Hola, Invitado

In [108]:
saludar("kremlin")

Hola, kremlin

In [116]:
def operaciones(a, b):
    return a +b, a-b, a*b

operaciones(3,5)

(8, -2, 15)

In [115]:
print(type(producto))

<class 'int'>

In [112]:
print(resta)

-2

In [114]:
saludo = lambda: "Hola"
saludo()

'Hola'

In [118]:
# Crear una funcion par buscar un elemento en una lista

 
lista = range(1,101)
def buscar_elemento(lista, elemento):
    for i in lista:
        if i == elemento:
            print(f'Eleemento encontrado {i}')
            break
buscar_elemento(lista, 50)

Eleemento encontrado 50

In [119]:
def buscar_elemento_2(lista, elemento):
    for pos, val in enumerate(lista):
        if val == elemento:
            return pos
    return False

In [121]:
lista[buscar_elemento_2(lista, 50)]

50